.card-body p {
    font-size: 13px;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #ffffff;
}
  

::-webkit-scrollbar-thumb {
    background: rgb(206, 206, 206);
    border-radius: 0px;
}
  

::-webkit-scrollbar-thumb:hover {
    background: rgb(190, 190, 190);
    border-radius: 3px;
}

